* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: rgb(197, 195, 195);
}
#top-part {
  border: solid 1px black;
  height: 20em;
}
header {
  background-color: rgb(197, 195, 195);
  color: black;
  margin-top: 6em;
  width: 30%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-right: 0px;
  border-radius: 0 20px 20px 0;
}
header h1 {
  font-size: 70px;
  font-weight: bold;
  padding-left: 1em;
  width: 81%;
}
header h1 span {
  font-size: 10rem;
  float: right;
  line-height: 0.8;
}
header h2 {
  font-size: 35px;
  padding-left: 0.6em;
}

main {
  width: 90%;
  margin: 0 auto;
}
main p {
  font-size: 20px;
}
#vision {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
}
#vision h2 {
  padding-left: 0.25em;
  padding-top: 0.25em;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 150px;
  grid-column: 1;
}
#vision p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  grid-column: 2;
}
#who-we-need {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
}
#who-we-need h2 {
  padding-left: 0.25em;
  padding-top: 0.25em;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 100px;
  grid-column: 2;
}
#who-we-need span {
  font-size: 150px;
}
#who-we-need p {
  grid-column: 1;
}
