* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: black;
  color: rgb(197, 195, 195);
}
#top-part {
  border: solid 0.5px rgb(0, 0, 0);
  height: 20em;
}
header {
  display: inline-block;
  background-color: rgb(0, 238, 255);
  color: black;
  margin-top: 1em;
  width: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-right: 10px;
  border-radius: 0 20px 20px 0;
}
header h1 {
  font-size: 70px;
  font-weight: bold;
  padding-left: 1em;
}
@media only screen and (min-width: 1400px) {
  header {
    width: auto;
  }

  header h1 span {
    line-height: 90%;
  }
}
header h1 span {
  font-size: 9rem;
  float: right;
  line-height: 90%;
}
header h2 {
  font-size: 35px;
  padding-left: 0.6em;
}

main {
  width: 90%;
  margin: 0 auto;
}
main p {
  font-size: 20px;
}
#vision {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5em;
  color: #ffffff;
}
#vision h2 {
  padding-left: 0.25em;
  padding-top: 0.25em;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 100px;
  grid-column: 1;
}
#vision h2 span {
  color: rgb(0, 238, 255);
}
#vision p {
  line-height: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  grid-column: 2;
}
#who-we-need {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5em;
  color: white;
}
#who-we-need h2 {
  padding-left: 0.25em;
  padding-top: 0.5em;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 100px;
  grid-column: 2;
}
#who-we-need span {
  color: rgb(0, 238, 255);
  font-size: 100px;
}
#who-we-need p {
  line-height: 1.3em;
  margin-top: 100px;
  grid-column: 1;
}

#contact {
  display: inline-block;
  background-color: rgb(0, 238, 255);
  color: black;
  width: auto;
  margin-left: 70%;
  padding: 1% 0 1% 1%;
  border-radius: 20px 0 0 20px;
  font-size: 25px;
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 0.9em;
}

